<a href="https://colab.research.google.com/github/Varchala/NaturalLanguageProcessing_CSC8980/blob/main/hw3_nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**G Varchaleswari**

vganugapati1@student.gsu.edu

**002575320**

# 1. 
Using NLTK tokenize all documents, separated by polarity, remove stop words, and list
the top 20 most frequent tokens (and their counts) for the positive reviews, and the top
20 most frequent tokens (and their counts). What kind of things do you notice are
different between the two sets? (30 points)

In [ ]:
!tar -xvf /content/sample_data/review_polarity.tar -C /content/sample_data/

In [ ]:
import pandas as pd
import numpy as np
import nltk
import os

In [ ]:
def file_extract(data,dir):
  path = "/content/sample_data/txt_sentoken/"
  path += dir
  with os.scandir(path) as files:
    for file in files:
      if file.name.endswith(".txt"):
        with open(path+"/"+file.name) as review:
          data = data.append({'data':review.read(),'labels':dir,'name':file.name},ignore_index=True)
  return data

In [ ]:
df = pd.DataFrame()
data_df=file_extract(df,"neg")
data_df = file_extract(data_df,"pos")

In [ ]:
data_df

                                                   data labels             name
0     an attempt at florida film noir , palmetto fai...    neg  cv496_11185.txt
1     a hotshot lawyer gets an obviously guilty chil...    neg  cv265_11625.txt
2     chill factor is a carbon copy of speed with on...    neg  cv436_20564.txt
3     mugshot ( director/writer/cinematographer/edit...    neg  cv708_28539.txt
4     i never understood what the clich ? " hell on ...    neg  cv130_18521.txt
...                                                 ...    ...              ...
1995  one of the sweetest tales to ever be made , it...    pos  cv521_15828.txt
1996  after the terminally bleak reservoir dogs and ...    pos  cv822_20049.txt
1997  `run lola run' , a german import that gained a...    pos  cv710_22577.txt
1998  in october of 1962 the united states found its...    pos  cv771_28665.txt
1999  note : some may consider portions of the follo...    pos  cv162_10424.txt

[2000 rows x 3 columns]

In [ ]:
data_df['labels'] = data_df['labels'].map({'pos': 1, 'neg': 0}).astype(int)
data_df

                                                   data  ...             name
0     an attempt at florida film noir , palmetto fai...  ...  cv496_11185.txt
1     a hotshot lawyer gets an obviously guilty chil...  ...  cv265_11625.txt
2     chill factor is a carbon copy of speed with on...  ...  cv436_20564.txt
3     mugshot ( director/writer/cinematographer/edit...  ...  cv708_28539.txt
4     i never understood what the clich ? " hell on ...  ...  cv130_18521.txt
...                                                 ...  ...              ...
1995  one of the sweetest tales to ever be made , it...  ...  cv521_15828.txt
1996  after the terminally bleak reservoir dogs and ...  ...  cv822_20049.txt
1997  `run lola run' , a german import that gained a...  ...  cv710_22577.txt
1998  in october of 1962 the united states found its...  ...  cv771_28665.txt
1999  note : some may consider portions of the follo...  ...  cv162_10424.txt

[2000 rows x 3 columns]

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
s_words = stopwords.words('english')
print(s_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Code for removing stop words and counting the the top 20 most frequent words from positive and negative reviews.

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def f_words(data,n):
  words = pd.DataFrame()
  for sent in data:
    for word in nltk.word_tokenize(sent):
      if word not in s_words:
        if not words.empty and word in words.word.values:
          words.loc[words.word == word, "count"] = words[words['word']==word]['count']+1
        else:
          words = words.append({'word':word,'count':1},ignore_index=True)
  return words.nlargest(n, 'count')
print("Top 20 most frequent words from positive reviews \n")
print(f_words(data_df[data_df['labels']==1]['data'],20))
print("Top 20 most frequent words from negative reviews \n")
print(f_words(data_df[data_df['labels']==0]['data'],20))

Top 20 most frequent words from positive reviews

        count       word
7     42448.0          ,
5     33714.0          .
27     9473.0         's
171    8494.0         ``
49     6039.0          )
48     6014.0          (
11     5186.0       film
2      2943.0        one
17     2775.0        n't
104    2497.0      movie
8      1713.0       like
29     1570.0          ?
26     1502.0          :
679    1231.0      story
137    1200.0       also
13     1190.0       good
217    1175.0       even
574    1171.0       time
181    1079.0      would
1643   1067.0  character
Top 20 most frequent words from negative reviews

       count   word
14   35269.0      ,
10   32162.0      .
74    9123.0     ``
87    8655.0     's
151   5742.0      )
147   5650.0      (
162   4257.0   film
48    3442.0    n't
677   3174.0  movie
282   2637.0    one
214   2201.0      ?
131   1832.0   like
39    1540.0      :
266   1381.0   even
244   1185.0  would
19    1126.0   good
258   1111.0   time
159   1056.0      !
86    1039.0    get
8     1019.0    bad

As few tokens like ',.? etc., are also considered in the document, the highest frequencies shown in the both sets are common for these. Also, even after removal of stopwords from NLTK, it still contains some stopwords that relevant to the context in question i.e. "Movie reviews". It will contain some words like film, movie etc which are again common in both. Word like "good" appeared 1190 times in positive reviews and 1126 times in negative reviews, this could be highly because good must have appeared as a combination of "not good" in negative reviews. Also, if we look at "n't" which appeared more in negative reviews than positive, most probable reason could be to express negative sentiments like "didn't like" or something like that.Bad appeared 1019 times in negative reviews and is not included in top 20 tokens of positive reviews.

# 2. 
Using the code from previous lectures, build 3 polarity classifiers using the following
parameters (20 points). Note: just train the models.
a) For training: use 50% of the positive dataset and 70% of the negative dataset. For
your model use: NaiveBayes with the TF-IDF vectorizer.
b) For training: use 50% of the negative dataset and 70% of the positive dataset. For
your model use: NaiveBayes with the TF-IDF vectorizer.
c) For training: use 25% of the negative dataset and 25% of the positive dataset. For
your model use: SVM with the TF-IDF vectorizer.

In [ ]:
seed_value = 122

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
def split_set(pos_per,neg_per):
  a_train,a_test = train_test_split(data_df[data_df['labels']==0], test_size=neg_per, random_state=seed_value)
  a_train1,a_test1 = train_test_split(data_df[data_df['labels']==1], test_size=pos_per, random_state=seed_value)
  a_train = a_train.append(a_train1)
  a_test = a_test.append(a_test1)
  return a_train,a_test

In [ ]:
from sklearn.pipeline import make_pipeline
def train_model(aName,vecName, trainSet):
  model = make_pipeline(vecName, aName)
  model.fit(trainSet.data, trainSet.labels)
  return model

# 50% of the positive dataset and 70% of the negative dataset

In [ ]:
train_a,test_a = split_set(0.50,0.30)

In [ ]:
# train_a[train_a['labels']==0]

# NaiveBayes with the TF-IDF vectorizer

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
model_a = train_model(MultinomialNB(),TfidfVectorizer(),train_a)

# 50% of the negative dataset and 70% of the positive dataset

In [ ]:
train_b,test_b = split_set(0.30,0.50)

# NaiveBayes with the TF-IDF vectorizer

In [ ]:
model_b = train_model(MultinomialNB(),TfidfVectorizer(),train_b)

# 25% of the negative dataset and 25% of the positive dataset

In [ ]:
train_c,test_c = split_set(0.75,0.75)

# SVM with the TF-IDF vectorizer

In [ ]:
from sklearn.svm import SVC

In [ ]:
model_c = train_model(SVC(),TfidfVectorizer(),train_c)

# 3.
Using the models from question 2, evaluate them on their individual rest of the dataset.
This is, for a) 50% positive and 30% negative, for b) 50% negative and 30% positive, and
for c) 75% negative and 75% positive. Calculate and show ONLY the following metrics for
each model: Accuracy, Precision, Recall, Macro F1-score. (15 points).

In [ ]:
import sklearn.metrics as sm
def evaluate_model(test,model):
  pred = model.predict(test.data)
  acc = sm.accuracy_score(test.labels,pred)
  pr = sm.precision_score(test.labels,pred)
  re = sm.recall_score(test.labels,pred)
  f1 = sm.f1_score(pred, test.labels, average='macro')
  return acc,pr,re,f1

# a) 50% positive and 30% negative

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_a,model_a)

In [ ]:
print("Model a \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model a

Accuracy: 0.37875
Precision: 1.0
Recall: 0.006
F1 Score: 0.279437323189396

# b) 50% negative and 30% positive,

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_b,model_b)

In [ ]:
print("Model b \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model b

Accuracy: 0.37625
Precision: 0.37546933667083854
Recall: 1.0
F1 Score: 0.2749714401951329

# c) 75% negative and 75% positive

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_c,model_c)

In [ ]:
print("Model c \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model c

Accuracy: 0.7706666666666667
Precision: 0.7750677506775068
Recall: 0.7626666666666667
F1 Score: 0.7706519883939239

# 4) 
Using the model performance metrics from question 3, answer the following
questions. Please provide logical and intuitive rationale for your answers, simple
answers like: because it has the best score, will not be sufficient. (40 points):
a) What is the best performing model?
b) Why do you think this is the best performing model?
c) How does class imbalance play in determining polarity?
d) Do you think either more data or a better model is a better approach for this
kind of task?

**solution**

Undoubtedly, SVM is the best performing model with metric scores unparalleled to the ones of naive bayes.

But why is it so? If we consider how the algoritm works, Naive bayes works by calculating individual probabilities of features where one observation has no impact on the classification of another observation i.e. the fundamental assumption is that each feature makes an independent and equal contribution to the outcome. SVM is a geometrical non-probabilistic model which works relying on the interdependence of observations in the entire dataset. A hyperplane is drawn such that it separates the dataset into two classes and the orientation of the hyperplane is altered/ adjusted based on the support vector points or the observations that lie closer to the hyperplane. So what this tells us is that, polarity binary classification or sentiment analysis won't work best with probabilistic models as there is a feature to feature interdependence, till an extent, in doing predictions. If a text reads "The movie was not good and did not satisfy my interests", we can not consider ['good','satisfy'] and then predict it as positive. There is a relation between "good" and "not". So this problem is overcome by SVMs till an extent as opposed to Naive bayes algorithm.

Class imbalance introduces certain amount of bias in the data such that the model learns the majority class much better than the minority which results in improper polarity predictions for the minority classes. For example a model predicts the cancerous cells in a body where it was trained on a dataset with more negative classes than positive. When the model is tested on real-time data then predicting a potentially cancerous cell as negative will be a huge loss. This kind of scenarios should be kept in mind while preprocessing or having a dataset with the required number of classes.

Few believe that it is good to have bigger sample space for training better models. But how big is the "bigger"? This depends on the kind of model we are building and the context to which it is applied. To make it more sense, it is not always required to have humungous datasets such that we keep increasing the size. This will result in more processing time and a requirement of high-end resources to maintain the same. Techniques like cross validation give us very good estimates of how our model would perform on unseen data and then  based on which we can decide what should be the size of the data i.e., if a dataset is choosen such that applying cross validation results in poor accuracy scores on unseen data then there's a need to update the size of content of the dataset.

# 5) 
Using NLTK and VADER, calculate the sentiment score for all documents in the
positive polarity. Calculate the polarity threshold needed (and reasonable) to have the
majority of the document labels match. Do the same for the negative class. Provide the
threshold needed, the reason why you think this threshold is reasonable, and the
accuracy percentage (how many documents are correctly labeled using this threshold).
(45 points):

In [ ]:
nltk.download('vader_lexicon')
nltk.download('movie_reviews')
nltk.download('punkt')
!pip install twython

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Collecting twython
  Downloading https://files.pythonhosted.org/packages/24/80/579b96dfaa9b536efde883d4f0df7ea2598a6f3117a6dd572787f4a2bcfb/twython-3.8.2-py3-none-any.whl
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from twython) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from twython) (1.3.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.0->twython) (3.1.0)
Installing collected packages: twython
Successfully installed twython-3.8.2

In [ ]:
data_df_neg = data_df[data_df['labels']==0]

In [ ]:
data_df_pos = data_df[data_df['labels']==1].reset_index(drop=True)

In [ ]:
# data_df_pos

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

sia = SIA()

# Negative polarity sentiment scores

In [ ]:
polarity_df1 = pd.DataFrame()
for i in data_df_neg.data:
  polarity_df1 = polarity_df1.append(sia.polarity_scores(i),ignore_index=True)
data_df_neg = data_df_neg.join(polarity_df1,how="right")
data_df_neg

                                                  data  labels  ...    neu    pos
0    i looked at the " internet movie database " 's...       0  ...  0.798  0.093
1     ( dreamworks skg ) running time : 2 hours sta...       0  ...  0.755  0.161
2    reading the cast and director for the new mobs...       0  ...  0.772  0.112
3    this movie tries to present itself as the sequ...       0  ...  0.732  0.135
4    1989's " major league " was a delightful surpr...       0  ...  0.833  0.100
..                                                 ...     ...  ...    ...    ...
995  plot : a rich psychiatrist with a great home l...       0  ...  0.729  0.125
996  the characters in jonathan lynn's " the whole ...       0  ...  0.735  0.169
997  surrounded by hype , high hopes , and the prom...       0  ...  0.758  0.134
998  starring william baldwin ; cindy crawford & st...       0  ...  0.731  0.156
999  adam sandler isn't known for appearing in deep...       0  ...  0.660  0.197

[1000 rows x 7 columns]

In [ ]:
# data_df_neg.iloc[1][0]

In [ ]:
data_df_neg['compound'].describe()

count    1000.000000
mean        0.105364
std         0.902338
min        -0.999700
25%        -0.953200
50%         0.663700
75%         0.982100
max         0.999600
Name: compound, dtype: float64

Compound column obtained from polarity scores represents the aggregated sentiment score of the given text. This seemed the most relevant measure for calculating labels. Now, for the threshold, the statistics decribed in the above table shows that the values range from -0.99 (i.e. minimum) to 0.99 (i.e. maximum) with a mean of 0.105. But the median value is 0.663 which implies that the distribution is right skewed and if a value is choosen closer to the mean then we will end up with majority of unmatched document labels. As stated in the question, we need a threshold where *majority of the document labels match*.Choosing the 75th percentile or greater makes more sense as it will include more than 3/4th of the dataset. Also, choosing 0.99 seems like a rather more biased choice which will overestimate the chosen algorithm(here,in SentimentIntensityAnalyzer by Vader). 

**Choosen threshold is *0.983* and every value below the threshold will be labeled as *0***

In [ ]:
data_df_neg[data_df_neg['compound']<0.983]

                                                  data  ...  predicted_labels
0    i looked at the " internet movie database " 's...  ...                 0
2    reading the cast and director for the new mobs...  ...                 0
3    this movie tries to present itself as the sequ...  ...                 0
4    1989's " major league " was a delightful surpr...  ...                 0
7    the general's daughter is a heartless , absurd...  ...                 0
..                                                 ...  ...               ...
994  there's a good , and timely , story trapped de...  ...                 0
995  plot : a rich psychiatrist with a great home l...  ...                 0
997  surrounded by hype , high hopes , and the prom...  ...                 0
998  starring william baldwin ; cindy crawford & st...  ...                 0
999  adam sandler isn't known for appearing in deep...  ...                 0

[756 rows x 8 columns]

In [ ]:
lb = []
for i in data_df_neg['compound']:
  if i<0.983:
    lb.append(0)
  else:
    lb.append(1)
data_df_neg['predicted_labels'] = lb
data_df_neg

                                                  data  ...  predicted_labels
0    i looked at the " internet movie database " 's...  ...                 0
1     ( dreamworks skg ) running time : 2 hours sta...  ...                 1
2    reading the cast and director for the new mobs...  ...                 0
3    this movie tries to present itself as the sequ...  ...                 0
4    1989's " major league " was a delightful surpr...  ...                 0
..                                                 ...  ...               ...
995  plot : a rich psychiatrist with a great home l...  ...                 0
996  the characters in jonathan lynn's " the whole ...  ...                 1
997  surrounded by hype , high hopes , and the prom...  ...                 0
998  starring william baldwin ; cindy crawford & st...  ...                 0
999  adam sandler isn't known for appearing in deep...  ...                 0

[1000 rows x 8 columns]

In [ ]:
accuracy = (data_df_neg[data_df_neg['predicted_labels']==data_df_neg['labels']].shape[0]/data_df_neg.shape[0])*100
print("Accuracy percentage is:")
print(accuracy)

Accuracy percentage is:
75.6

# Positive polarity sentiment scores

In [ ]:
polarity_df2 = pd.DataFrame()
for i in data_df_pos.data:
  polarity_df2 = polarity_df2.append(sia.polarity_scores(i),ignore_index=True)
data_df_pos = data_df_pos.join(polarity_df2,how="right")
data_df_pos

                                                  data  labels  ...    neu    pos
0    you'd think it would be easy to spoof star tre...       1  ...  0.736  0.160
1    i know that " funnest " isn't a word . \n " fu...       1  ...  0.713  0.204
2    tibet has entered the american consciousness s...       1  ...  0.852  0.079
3    seen august 8 , 1998 at 6 p . m . at rotterdam...       1  ...  0.684  0.117
4    after the simple looking little spacecraft lan...       1  ...  0.753  0.160
..                                                 ...     ...  ...    ...    ...
995  just look back two years ago at the coen broth...       1  ...  0.674  0.157
996  everyone's heard about this movie , and more s...       1  ...  0.848  0.052
997  oh god how many john grisham lawyer films we h...       1  ...  0.759  0.134
998  in _daylight_ , sylvester stallone breaks no n...       1  ...  0.771  0.109
999  'pleasantville' ( 1998 ) taps into hollywood's...       1  ...  0.772  0.127

[1000 rows x 7 columns]

In [ ]:
data_df_pos['compound'].describe()

count    1000.000000
mean        0.647903
std         0.700739
min        -0.999600
25%         0.898600
50%         0.990650
75%         0.997200
max         0.999900
Name: compound, dtype: float64

Compound column describes the aggregated sentiment value of the given text. I want to base the classification, into labels, of the text on "compound" polarity score. The stats shown in the above column 3/4th of the dataset lies between 0.99 (maximum value) to 0.898600 (25th percentile). There are comparatively fewer observations/scores that fall under 0.8 ( less that 1/4th). In general, a compound score of 0.8 shows high positive polarity in a dataset although the choice of threshold purely depends on the kind of dataset used. This algorithm performs better for positive scores as opposed to the negative sentiment predictions. Potential reason could be that Vader doesn't penalize against negation that harshly when compared to other algorithms.

**Choosen threshold is *0.8* and every value above the threshold will be labeled as *1***

In [ ]:
data_df_pos[data_df_pos['compound']>0.8]

                                                  data  labels  ...    neu    pos
0    you'd think it would be easy to spoof star tre...       1  ...  0.736  0.160
1    i know that " funnest " isn't a word . \n " fu...       1  ...  0.713  0.204
2    tibet has entered the american consciousness s...       1  ...  0.852  0.079
4    after the simple looking little spacecraft lan...       1  ...  0.753  0.160
5    the story of us , a rob reiner film , is the s...       1  ...  0.831  0.115
..                                                 ...     ...  ...    ...    ...
992  i've always been told that there are two thing...       1  ...  0.638  0.228
993  it has been three long years since quentin tar...       1  ...  0.830  0.103
994  i wish i could say that there is something mor...       1  ...  0.738  0.146
997  oh god how many john grisham lawyer films we h...       1  ...  0.759  0.134
999  'pleasantville' ( 1998 ) taps into hollywood's...       1  ...  0.772  0.127

[792 rows x 7 columns]

In [ ]:
lb = []
for i in data_df_pos['compound']:
  if i>0.8:
    lb.append(1)
  else:
    lb.append(0)
data_df_pos['predicted_labels'] = lb
data_df_pos

                                                  data  ...  predicted_labels
0    you'd think it would be easy to spoof star tre...  ...                 1
1    i know that " funnest " isn't a word . \n " fu...  ...                 1
2    tibet has entered the american consciousness s...  ...                 1
3    seen august 8 , 1998 at 6 p . m . at rotterdam...  ...                 0
4    after the simple looking little spacecraft lan...  ...                 1
..                                                 ...  ...               ...
995  just look back two years ago at the coen broth...  ...                 0
996  everyone's heard about this movie , and more s...  ...                 0
997  oh god how many john grisham lawyer films we h...  ...                 1
998  in _daylight_ , sylvester stallone breaks no n...  ...                 0
999  'pleasantville' ( 1998 ) taps into hollywood's...  ...                 1

[1000 rows x 8 columns]

In [ ]:
accuracy = (data_df_pos[data_df_pos['predicted_labels']==data_df_pos['labels']].shape[0]/data_df_pos.shape[0])*100
print("Accuracy percentage is:")
print(accuracy)

Accuracy percentage is:
79.2

# Bonus 
(40 points): 
Repeat questions 2,3 and 4 removing all stopwords. Answer the
following questions: Did this change the results in any way? Why do you think so?

In [ ]:
print(s_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
df_no_stopwords = pd.DataFrame()
w_str=""
s_count = 0
r_count = 0
for index,i in data_df.iterrows():
  for w in nltk.word_tokenize(i.data):
    if w not in s_words:
      w_str += w+" "
      r_count +=1
    else:
      s_count += 1
  df_no_stopwords = df_no_stopwords.append({'data':w_str,'labels':i['labels'],'name':i['name']},ignore_index=True)
  w_str=""
df_no_stopwords['labels'] = df_no_stopwords['labels'].astype('int32')
df_no_stopwords

                                                   data  ...             name
0     attempt florida film noir , palmetto fails fun...  ...  cv496_11185.txt
1     hotshot lawyer gets obviously guilty child mol...  ...  cv265_11625.txt
2     chill factor carbon copy speed one notable exc...  ...  cv436_20564.txt
3     mugshot ( director/writer/cinematographer/edit...  ...  cv708_28539.txt
4     never understood clich ? `` hell earth `` trul...  ...  cv130_18521.txt
...                                                 ...  ...              ...
1995  one sweetest tales ever made , 's wonderful li...  ...  cv521_15828.txt
1996  terminally bleak reservoir dogs brutally viole...  ...  cv822_20049.txt
1997  `run lola run ' , german import gained stellar...  ...  cv710_22577.txt
1998  october 1962 united states found brink nuclear...  ...  cv771_28665.txt
1999  note : may consider portions following text sp...  ...  cv162_10424.txt

[2000 rows x 3 columns]

In [ ]:
# print(df_no_stopwords.iloc[0][0])
# print("\n")
# print(data_df.iloc[0][0])

In [ ]:
def split_setStop(pos_per,neg_per):
  a_train,a_test = train_test_split(df_no_stopwords[df_no_stopwords['labels']==0], test_size=neg_per, random_state=seed_value)
  a_train1,a_test1 = train_test_split(df_no_stopwords[df_no_stopwords['labels']==1], test_size=pos_per, random_state=seed_value)
  a_train = a_train.append(a_train1)
  a_test = a_test.append(a_test1)
  return a_train,a_test

In [ ]:
from sklearn.pipeline import make_pipeline
def train_stop_model(aName,vecName, trainSet):
  model = make_pipeline(vecName, aName)
  model.fit(trainSet.data, trainSet.labels)
  return model

# 50% of the positive dataset and 70% of the negative dataset

In [ ]:
train_stop_a,test_stop_a = split_setStop(0.50,0.30)

# NaiveBayes with the TF-IDF vectorizer

In [ ]:
model_stop_a = train_stop_model(MultinomialNB(),TfidfVectorizer(),train_stop_a)

# 50% of the negative dataset and 70% of the positive dataset

In [ ]:
train_stop_b,test_stop_b = split_setStop(0.30,0.50)

# NaiveBayes with the TF-IDF vectorizer

In [ ]:
model_stop_b = train_stop_model(MultinomialNB(),TfidfVectorizer(),train_stop_b)

# 25% of the negative dataset and 25% of the positive dataset

In [ ]:
train_stop_c,test_stop_c = split_setStop(0.75,0.75)

# SVM with the TF-IDF vectorizer

In [ ]:
model_stop_c = train_stop_model(SVC(),TfidfVectorizer(),train_stop_c)

# Using the **evaluate_model** method created in Q3

# a) 50% positive and 30% negative

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_stop_a,model_stop_a)

In [ ]:
print("Model a \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model a

Accuracy: 0.3975
Precision: 1.0
Recall: 0.036
F1 Score: 0.3120133600725098

# b) 50% negative and 30% positive,

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_stop_b,model_stop_b)

In [ ]:
print("Model b \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model b

Accuracy: 0.3825
Precision: 0.3778337531486146
Recall: 1.0
F1 Score: 0.2860807422447991

# c) 75% negative and 75% positive

In [ ]:
accuracy,precision,recall,f1score=evaluate_model(test_stop_c,model_stop_c)

In [ ]:
print("Model c \n")
print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 Score:', f1score)

Model c

Accuracy: 0.7553333333333333
Precision: 0.7343941248470012
Recall: 0.8
F1 Score: 0.7548442203133274

# Using Vader

In [ ]:
sia_stop = SIA()

In [ ]:
def polarity_calc(df_s):
  polarity_df1 = pd.DataFrame()
  for i in df_s.data:
    polarity_df1 = polarity_df1.append(sia_stop.polarity_scores(i),ignore_index=True)
  df_s = df_s.join(polarity_df1,how="right")
  return df_s

In [ ]:
# df_no_stopwords

In [ ]:
df_no_stop_neg = polarity_calc(df_no_stopwords[df_no_stopwords['labels']==0].reset_index(drop=True))
df_no_stop_pos = polarity_calc(df_no_stopwords[df_no_stopwords['labels']==1].reset_index(drop=True))

In [ ]:
df_no_stop_neg.describe()

       labels     compound          neg          neu          pos
count  1000.0  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.0     0.178472     0.151750     0.673120     0.175106
std       0.0     0.884680     0.050057     0.056097     0.045794
min       0.0    -0.998900     0.030000     0.431000     0.000000
25%       0.0    -0.914775     0.118000     0.636000     0.142750
50%       0.0     0.796250     0.148000     0.675000     0.173000
75%       0.0     0.978725     0.183250     0.710000     0.202000
max       0.0     0.998900     0.569000     0.894000     0.345000

In [ ]:
df_no_stop_pos.describe()

       labels     compound          neg          neu          pos
count  1000.0  1000.000000  1000.000000  1000.000000  1000.000000
mean      1.0     0.635817     0.122094     0.670657     0.207236
std       0.0     0.700532     0.049264     0.056819     0.053313
min       1.0    -0.999200     0.010000     0.449000     0.066000
25%       1.0     0.899200     0.087000     0.634000     0.168000
50%       1.0     0.987100     0.116000     0.673000     0.204000
75%       1.0     0.996125     0.152000     0.707000     0.238000
max       1.0     0.999800     0.314000     0.838000     0.418000

In [ ]:
def predict_labels_stop(df,theta,check):
  lb = []
  for i in df['compound']:
    if check == ">":
      if i>theta:
        lb.append(1)
      else:
        lb.append(0)
    elif check == "<":
      if i<theta:
        lb.append(0)
      else:
        lb.append(1)
  df['predicted_labels'] = lb
  return df

In [ ]:
pred_spos_df = predict_labels_stop(df_no_stop_pos,0.85,">")
pred_spos_df

                                                  data  ...  predicted_labels
0    seem two reactions dark city . either love uni...  ...                 1
1    relaxed dude rides roller coaster big lebowski...  ...                 1
2    weir well-respected hollywood turning scripts ...  ...                 1
3    call crazy , n't see saving private ryan film ...  ...                 0
4    , disney films gradually lost appeal ? almost ...  ...                 1
..                                                 ...  ...               ...
995  one sweetest tales ever made , 's wonderful li...  ...                 1
996  terminally bleak reservoir dogs brutally viole...  ...                 1
997  `run lola run ' , german import gained stellar...  ...                 1
998  october 1962 united states found brink nuclear...  ...                 0
999  note : may consider portions following text sp...  ...                 0

[1000 rows x 8 columns]

In [ ]:
accuracy = (pred_spos_df[pred_spos_df['predicted_labels']==pred_spos_df['labels']].shape[0]/pred_spos_df.shape[0])*100
print("Accuracy percentage is:")
print(accuracy)

Accuracy percentage is:
76.6

In [ ]:
pred_sneg_df = predict_labels_stop(df_no_stop_neg,0.979,"<")
pred_sneg_df

                                                  data  ...  predicted_labels
0    attempt florida film noir , palmetto fails fun...  ...                 0
1    hotshot lawyer gets obviously guilty child mol...  ...                 0
2    chill factor carbon copy speed one notable exc...  ...                 0
3    mugshot ( director/writer/cinematographer/edit...  ...                 0
4    never understood clich ? `` hell earth `` trul...  ...                 0
..                                                 ...  ...               ...
995  dusk till dawn ( director/editor : robert rodr...  ...                 0
996  annie wilson ( cate blanchett ) , widow strugg...  ...                 0
997  tommy lee jones chases innocent victim around ...  ...                 0
998  sum entire film `` 54 `` one sentence , would ...  ...                 1
999  'm going start review hypothetical question . ...  ...                 0

[1000 rows x 8 columns]

In [ ]:
accuracy = (pred_sneg_df[pred_sneg_df['predicted_labels']==pred_sneg_df['labels']].shape[0]/pred_sneg_df.shape[0])*100
print("Accuracy percentage is:")
print(accuracy)

Accuracy percentage is:
75.0

In [ ]:
print("Total stop words:")
print(s_count)
print("Total words that are not stop words:")
print(r_count)
print("Percentage of stopwords:")
print(s_count*100/(s_count+r_count))
print("Percentage of non stopwords:")
print(r_count*100/(s_count+r_count))

Total stop words:
595282
Total words that are not stop words:
929208
Percentage of stopwords:
39.04794390255102
Percentage of non stopwords:
60.95205609744898

There is no significant difference between before stop words removal and after stop removal versions of models in Q2. There is a slight 0.01% increase of accuracy of models that are trained after stop words removal. The kind of dataset used probably plays the biggest role in determining the observed effects. One potential reason could be, stop words vary from document to document as what type of dataset it is. Dataset for movies reviews might contain words like film, movie,etc. which add no new information to the analysis. It is important to find such words with a clear analysis and then apply something like stopword removal than just applying a general pool of stop words. Another reason also could be about the size of dataset used and the number of rare words vs common words in the document. Overall understanding is that the Naive Bayes yielded slightly more better result after stopword removal than the SVM.

For Vader, it is observed that the accuracy has declined by over 2% for positive labels prediction for the choosen threshold which were based on the 25th percentile value of the compounded polarity score. Also, the chosen threshold for both is based on their individual statistics. For negative labels the accuracy has declined insignificantly by 0.6% which does not convey much about how helpful was the stop word removal. Rather, it seemed that stop word removal caused a negative impact on Vader. One potential reason could be that the removal of stopwords like but, then etc. resulted in misinterpretation of the context as Vader not just looks at the frequency of words vs its lexicons but also considers the context and the style of writing.