**G Varchaleswari
vganugapati1@student.gsu.edu**

1. Write a function that finds the factorial of a number. Test the function finding the
factorial of the number 10.

In [2]:
def factorial(num):
  fact = 1
  for i in range(1,num+1):
    fact = fact*i
  return fact

fact = factorial(10)
print(fact)

3628800

2. Write a function that determines if a number is a prime number. Test the function with
the following numbers: 3 and 1251.

In [3]:
def prime(n):

  for i in range(2,n):
    if(n%i==0):
      print("{} is not prime".format(n))
      break;
  if(i==n-1):
    print("{} is prime".format(n))

prime(3)
prime(1251)

3 is prime
1251 is not prime

3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [4]:
def transpose(n):

  tran = [[n[i][j] for i in range(len(n))] for j in range(len(n[0]))] 
  print("\n") 
  for r in tran: 
      print(r)

matrix = [[1,0,0],[0,1,0],[0,0,1]] 
for row in matrix: 
  print(row)

transpose(matrix)

[1, 0, 0]
[0, 1, 0]
[0, 0, 1]


[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test
your code with:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [5]:
import numpy as np
import pandas as pd
np.random.seed(0) 
series1 = pd.Series(np.arange(10)) 
series2 = pd.Series(np.arange(26))
combine = pd.concat((series1,series2), axis=0)
print(series1,"\n\n\n",series2,"\n\n\n\n",combine)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64


 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64



 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

5. Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [41]:
def convert_u(w):
  j=-1
  word = pd.Series(dtype=str)
  for i in w:
    # print(i[0].upper())
    i = i.replace(i[0],i[0].upper(),1)
    word = word.append(pd.Series(i,dtype=str))
  return word
  print(series)
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
print(series,"\n")
series = convert_u(series)
print(series)

0      nlp
1     will
2       be
3    easy?
dtype: object

0      Nlp
0     Will
0       Be
0    Easy?
dtype: object

Bonus: Using pandas, write a piece of code to get the frequency of unique values in the
entire dataframe (not using built in functions). Test your code with:

In [7]:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
dataFrame

   a  b  c  d
0  9  5  8  8
1  8  6  8  7
2  9  5  5  9
3  7  6  5  6
4  6  5  6  9

In [40]:
def count_uniq(n):
  nuniq = 0
  flag = 0
  j = 0
  values = n.values.flatten()
  # print(values)
  for i in range(values.size):
    for j in range(i):
      if(values[j]==values[i] and i != j):
        flag += 1
        break;
    if(flag==0):
      nuniq +=1
    else:
      flag=0
    
  return nuniq

count = count_uniq(dataFrame)
print(count)

5